@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Regular"), url("/fonts/MYRIADPRO-REGULAR.woff") format("woff"); }

@font-face {
  font-family: 'Myriad Pro Semibold';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Semibold"), url("fonts/MYRIADPRO-SEMIBOLD.woff") format("woff"); }

@font-face {
  font-family: 'Myriad Pro Light';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Light"), url("fonts/MyriadPro-Light.woff") format("woff"); }

@font-face {
  font-family: 'Myriad Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold"), url("fonts/MYRIADPRO-BOLD.woff") format("woff"); }

.mainpage {
  width: 100%;
  height: auto;
  color: #2e2652;
  position: absolute;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left; }

.mainpage-banner {
  width: 100%;
  height: 27vw;
  background-size: cover;
  background-position: 90% 40%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; }
  .mainpage-banner h1 {
    width: 85%;
    font-size: 3.5vw;
    font-family: "Myriad Pro Light", sans-serif;
    color: white;
    text-shadow: 1px 1px 10px #000000; }

.mainpage-banner-text {
  width: 100%;
  height: 50%;
  text-align: left;
  margin-left: 8%; }

.homepage-description {
  height: 30vmin;
  width: 70%;
  text-decoration: none;
  color: white; }
  .homepage-description a {
    color: white; }
  .homepage-description p {
    text-align: center;
    width: 70%;
    margin: 1% 2% 0 2%;
    font-size: 2vw;
    font-family: "Myriad Pro Regular", sans-serif;
    position: absolute; }

.bolder {
  font-family: "Myriad Pro Bold", sans-serif; }

.heading {
  margin: 0;
  font-family: "Myriad Pro Bold", sans-serif;
  font-size: 1em; }

.white-heading {
  width: 100%;
  height: 10%;
  margin-top: 2%;
  background-image: url("../img/Banners/AAC-insights-home-narrow.jpg");
  background-position: 100% 90%;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: color;
  text-align: center; }
  .white-heading h1 {
    padding-left: 5%;
    margin: 0;
    font-family: "Myriad Pro Light", sans-serif;
    font-size: 4vw;
    color: white;
    text-shadow: 1px 1px 10px #000; }

.homepage-services {
  width: 100%;
  text-decoration: none;
  text-align: center;
  color: white;
  font-family: "Myriad Pro Light", sans-serif;
  text-shadow: 1px 1px 10px #000; }
  .homepage-services h1 {
    font-size: 4vw;
    margin-bottom: 1%;
    background-image: url("../img/Banners/AAC-services-home-narrow.jpg");
    background-position: 100% 10%;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: color; }

.homepage-services-list {
  width: 100%;
  height: 85vmin;
  position: absolute;
  background-image: url("../img/Banners/AAC-services.jpg");
  background-position: 100% 80%;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left; }
  .homepage-services-list ul {
    margin: 0;
    margin-top: 5%;
    width: 30%;
    margin-left: 3%;
    padding-top: 5px;
    text-decoration: none; }
  .homepage-services-list h2 {
    height: 10vmin;
    width: 70vmin;
    font-size: 4vmin;
    margin: 0; }
    .homepage-services-list h2:hover {
      text-transform: uppercase;
      font-family: "Myriad Pro Semibold", sans-serif; }

.homepage-articles-list {
  width: 80%;
  height: 30vw;
  margin: 0;
  margin-top: 1%;
  box-sizing: border-box;
  color: white; }
  .homepage-articles-list .single-service {
    float: left;
    margin: 0;
    width: 26vw;
    height: 15vw;
    text-align: center; }
    .homepage-articles-list .single-service img {
      height: 14vw; }
    .homepage-articles-list .single-service:hover img {
      -webkit-filter: grayscale(0);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(0); }
  .homepage-articles-list img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    margin: 0 2% 0 2%;
    height: 14vw;
    float: left;
    border-radius: 3px;
    transition: filter 0.3s ease-in; }
  .homepage-articles-list span {
    position: absolute;
    width: 40%;
    font-family: "Myriad Pro Semibold", sans-serif;
    font-weight: bold;
    padding: 10px;
    align-self: center;
    font-size: 1.5vw;
    text-shadow: 1px 1px 10px #222; }

.homepage-articles-mobile {
  width: 100%;
  margin: 0;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white; }
  .homepage-articles-mobile .single-service {
    margin: 0;
    width: 90%;
    height: 40vw;
    text-align: center; }
    .homepage-articles-mobile .single-service img {
      height: 39vw; }
    .homepage-articles-mobile .single-service:hover img {
      -webkit-filter: grayscale(0);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(0); }
  .homepage-articles-mobile img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    height: 39vw;
    width: 100%;
    float: left;
    border-radius: 3px;
    transition: filter 0.3s ease-in; }
  .homepage-articles-mobile span {
    position: absolute;
    width: 50%;
    font-family: "Myriad Pro Semibold", sans-serif;
    font-weight: bold;
    padding: 10px;
    align-self: center;
    font-size: 3vw;
    text-shadow: 1px 1px 10px #222; }

.single-service-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  float: left;
  width: 60%;
  height: 30vw;
  margin-bottom: 15vh;
  border-radius: 10px;
  text-decoration: none;
  color: white; }
  .single-service-main img {
    height: 29vw; }
  .single-service-main:hover img {
    -webkit-filter: grayscale(0);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0); }

.analytics {
  background: url("../img/Banners/AAC-services-advanced-analytics.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.change {
  background: url("../img/Banners/AAC-services-change.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.finance {
  background: url("../img/Banners/AAC-services-corporate-finance.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.performance {
  background: url("../img/Banners/AAC-services-performance-improvement.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.talent {
  background: url("../img/Banners/AAC-services-talent.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.business {
  background: url("../img/Banners/AAC-services-business-management.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.page {
  height: 20vw;
  align-items: center; }

.page-content {
  margin-bottom: 15%;
  margin-top: 3%; }
  .page-content p {
    width: 78%;
    margin: 2% 5% 0 8%;
    font-size: 3vmin;
    font-family: "Myriad Pro Regular", sans-serif; }
    .page-content p span {
      margin: 4px;
      font-family: "Myriad Pro Bold", sans-serif; }
    .page-content p h2 {
      margin: 0;
      font-size: 3vmin;
      font-weight: bold; }

.long h1 {
  width: 60%;
  margin: 8%;
  text-align: left; }
