@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Regular"), url("/fonts/MYRIADPRO-REGULAR.woff") format("woff"); }

@font-face {
  font-family: 'Myriad Pro Semibold';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Semibold"), url("fonts/MYRIADPRO-SEMIBOLD.woff") format("woff"); }

@font-face {
  font-family: 'Myriad Pro Light';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Light"), url("fonts/MyriadPro-Light.woff") format("woff"); }

@font-face {
  font-family: 'Myriad Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold"), url("fonts/MYRIADPRO-BOLD.woff") format("woff"); }

.blogpage-content {
  margin-bottom: 20%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.articles-list {
  width: 80%;
  margin: 0;
  box-sizing: border-box;
  color: white; }
  .articles-list .single-service {
    float: left;
    margin: 0; }
    .articles-list .single-service:hover img {
      -webkit-filter: grayscale(0);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(0); }
  .articles-list img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    margin: 0 2% 0 2%;
    height: 14vw;
    float: left;
    border-radius: 3px;
    transition: filter 0.3s ease-in; }
  .articles-list span {
    position: absolute;
    width: 25%;
    font-family: "Myriad Pro Light", sans-serif;
    font-weight: bold;
    padding: 10px;
    align-self: center;
    text-align: center;
    font-size: 1.5vw;
    text-shadow: 1px 1px 10px #222; }

.articles-list-mobile {
  width: 80%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white; }
  .articles-list-mobile .single-service {
    float: left;
    width: 100%;
    height: 30vw;
    margin: 0; }
    .articles-list-mobile .single-service:hover img {
      -webkit-filter: grayscale(0);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(0); }
  .articles-list-mobile img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    margin: 0 2% 0 2%;
    height: 29vw;
    float: left;
    border-radius: 3px;
    transition: filter 0.3s ease-in; }
  .articles-list-mobile span {
    position: absolute;
    width: 50%;
    font-family: "Myriad Pro Light", sans-serif;
    font-weight: bold;
    padding: 10px;
    align-self: center;
    text-align: center;
    font-size: 3vw;
    text-shadow: 1px 1px 10px #222; }

.middle {
  width: 60%;
  padding-left: 9%; }

.tags {
  display: inline-flex;
  padding: 0; }

.tag {
  display: flex;
  margin: 3px;
  font-family: "Myriad Pro Bold", sans-serif;
  color: #2e2652;
  border: 1px solid #b3b3b3;
  border-radius: 1vw;
  padding: 10px; }
  .tag h2 {
    cursor: pointer;
    margin: 1px;
    font-size: 1.2vw; }

.single-article {
  height: auto;
  width: 100%;
  margin-bottom: 20%;
  box-sizing: border-box; }
  .single-article .contact-details {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .single-article .contact-details .contact {
      transform: none;
      margin: 5px; }
      .single-article .contact-details .contact button {
        padding: 12px 40px 12px 40px; }
    .single-article .contact-details p {
      font-size: 12px;
      font-family: "Myriad Pro Light", sans-serif;
      font-weight: bold; }
  .single-article .contact-details-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0; }
    .single-article .contact-details-mobile .contact {
      margin: 0;
      margin-top: 5px; }

.single-article-content {
  width: 70%;
  height: 100%;
  margin-bottom: 10%;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .single-article-content h1 {
    margin: 0;
    font-size: 2em;
    text-align: center; }
  .single-article-content p {
    color: #2e2652;
    font-family: "Myriad Pro Light", sans-serif;
    font-weight: bold; }
  .single-article-content .tag {
    padding: 5px 20px 5px 20px; }
    .single-article-content .tag h2 {
      cursor: default;
      font-size: 2vmin; }

.single-article-content-mobile {
  width: 100%;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .single-article-content-mobile h1 {
    margin: 0;
    font-size: 2em;
    text-align: center; }
  .single-article-content-mobile p {
    color: #2e2652;
    font-family: "Myriad Pro Light", sans-serif;
    font-weight: bold; }
  .single-article-content-mobile ul {
    padding: 0; }
  .single-article-content-mobile .tag {
    padding: 5px 20px 5px 20px; }
    .single-article-content-mobile .tag h2 {
      cursor: default;
      font-size: 2vmin; }
  .single-article-content-mobile .article-data {
    width: 80%; }
  .single-article-content-mobile .article-description {
    width: 80%; }
  .single-article-content-mobile .article-summary {
    width: 80%; }

.article-description {
  width: 70%; }
  .article-description img {
    width: 100%;
    height: 50%; }
  .article-description b {
    font-family: "Myriad Pro Bold", sans-serif;
    color: #2e2652; }

.article-summary {
  width: 70%;
  color: #757575;
  font-family: "Myriad Pro Regular", sans-serif;
  font-style: italic;
  font-weight: bold;
  margin: 1% 0; }

.article-data {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Myriad Pro Bold", sans-serif; }
  .article-data span {
    font-size: 0.8em;
    display: flex;
    align-items: center;
    color: #757575; }
    .article-data span h3 {
      color: #2e2652;
      font-size: 1em;
      padding: 3px; }

.contact-image {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 5px; }
